@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	url('../fonts/open sans/OpenSans-Regular.ttf') format('truetype')
}
@font-face {
	font-family: 'OpenSans-Bold';
	font-style: normal;
	font-weight: 400;
	url('../fonts/open sans/OpenSans-Bold.ttf') format('truetype')
}
@font-face {
	font-family: 'OpenSans-BoldItalic';
	font-style: normal;
	font-weight: 400;
	url('../fonts/open sans/OpenSans-BoldItalic.ttf') format('truetype')
}
@font-face {
	font-family: 'OpenSans-ExtraBold';
	font-style: normal;
	font-weight: 400;
	url('../fonts/open sans/OpenSans-ExtraBold.ttf') format('truetype')
}
@font-face {
	font-family: 'OpenSans-ExtraBoldItalic';
	font-style: normal;
	font-weight: 400;
	url('../fonts/open sans/OpenSans-ExtraBoldItalic.ttf') format('truetype')
}
@font-face {
	font-family: 'OpenSans-Italic';
	font-style: normal;
	font-weight: 400;
	url('../fonts/open sans/OpenSans-Italic.ttf') format('truetype')
}
@font-face {
	font-family: 'OpenSans-Light';
	font-style: normal;
	font-weight: 400;
	url('../fonts/open sans/OpenSans-Light.ttf') format('truetype')
}
@font-face {
	font-family: 'OpenSans-LightItalic';
	font-style: normal;
	font-weight: 400;
	url('../fonts/open sans/OpenSans-LightItalic.ttf') format('truetype')
}
@font-face {
	font-family: 'OpenSans-SemiBold';
	font-style: normal;
	font-weight: 400;
	url('../fonts/open sans/OpenSans-SemiBold.ttf') format('truetype')
}
@font-face {
	font-family: 'OpenSans-SemiBoldItalic';
	font-style: normal;
	font-weight: 400;
	url('../fonts/open sans/OpenSans-SemiBoldItalic.ttf') format('truetype')
}
